language: node_js
node_js:
  - 0.8
before_script:
  - npm install -g grunt-cli
  - npm install -g bower
  - bower install
notifications:
  email:
    - audica-dev@freelists.org
  on_success: change
  on_failure: always