.commit-list-buttons-top {
  margin-bottom: 20px;
}

#commitList {
  .commit-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50%;
    height: 20px;
  }

  .commit-meta {
    float: left;
  }
}
