@import "../bower_components/bootstrap/less/bootstrap";

body { padding-top: 70px;}
#main{ padding: 15px; }

.table-row-variant(added; @state-success-bg; @state-success-border);
.table-row-variant(deleted; @state-danger-bg; @state-danger-border);
.table-row-variant(chunk-header; @state-info-bg; @state-info-border);
table{
 &.comments{
   tr{
     td {
       padding: 0;
       &.lineNr { width: 45px; }
     }
   }
   pre {
     background: none;
     padding: 0;
     margin: 0;
     border: none;
     border-radius: 0;
   }
 }
}