/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
.text-shadow {
  text-shadow: 1px 1px 1px #FDFDFD;
}
@font-face {
  font-family: "Batch";
  src: url('fonts/batch-icons-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  background: #fdfdfd;
  color: #333333;
  font-size: 9pt;
  height: 100%;
}
#container {
  height: auto;
  min-height: 100%;
}
#topMenu {
  height: 2.5em;
  width: 100%;
  z-index: 2;
  box-shadow: 0 0 10px 0 #333;
  position: fixed;
  background: #dddddd;
}
#topMenu nav {
  width: 100%;
  padding-left: 1%;
}
#topMenu nav div {
  display: inline-block;
  line-height: 1.8em;
  position: relative;
  width: 49%;
  height: 100%;
  font-size: 1.5em;
}
#topMenu nav div input {
  border: none;
  width: 80%;
  line-height: 1em;
  height: 1.2em;
  font-size: 1em;
}
#topMenu nav div a i {
  transition: color 0.3s ease;
  cursor: pointer;
}
#topMenu nav div a:hover i {
  color: #333333;
}
#topMenu nav div.powerOff {
  text-align: right;
}
#main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  padding: 40px 10px 10px 10px;
  box-sizing: border-box;
  min-height: 100%;
  height: auto;
  width: 100%;
  border-top: 1px solid #008000;
  border-right: 1px solid #008000;
  border-bottom: 1px solid #008000;
  border-left: 1px solid #008000;
}
i {
  font-style: normal;
}
i.batch {
  font-family: "Batch";
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin: 0 3px;
  color: #666666;
}
i.batch:before {
  content: attr(data-icon);
}
i.shadow {
  text-shadow: 1px 1px 1px #FDFDFD;
}
tr:hover {
  background: #dddddd;
}
tr.chunk-header {
  background: #dddddd;
}
tr.added {
  background: green;
}
tr.added:hover {
  background: #dddddd;
}
tr.deleted {
  background: red;
}
tr.deleted:hover {
  background: #dddddd;
}
