@font-face {
  font-family: SourceCodePro;
  src: url('../fonts/SourceCodePro-ExtraLight.ttf');
}
@import "../bower_components/bootstrap/less/bootstrap";

body { padding-top: 70px;}
#main{ padding: 15px; }

.table-row-variant(added; @state-success-bg; @state-success-border);
.table-row-variant(deleted; @state-danger-bg; @state-danger-border);
.table-row-variant(chunk-header; @state-info-bg; @state-info-border);

table{
 &.comments{
   font-family: SourceCodePro;
   tr{
     td {
       padding: 0; border: none; border-right: 1px solid #DDDDDD;
       &.lineNr { width: 45px; }
       &:last-child { border: none;}
     }
   }
   pre {
     font-family: SourceCodePro;
     background: none;
     padding: 0;
     margin: 0;
     border: none;
     border-radius: 0;
   }
   #commentBox {
     padding: 5px;
   }
 }
}

.pager {
  li {
    > span {
      cursor: pointer; color: @link-color;
      &:hover{ color: @link-hover-color; }
    }
  }
}