<div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="table-responsive">
          <table class="comments table table-condensed table-hover">
            <%var lineIndex = 1;%>
            <%_.forEach(_.str.lines(content), function (line) {%>
              <tr id="line_<%=lineIndex%>" data-line="<%=lineIndex%>">
                <td id="line_<%=lineIndex%>_sha">&nbsp;</td>
                <td class="lineNr"><%=lineIndex%></td>
                <td><pre><%=_.escape(line)%></pre></td>
              </tr>
              <%lineIndex++;%>
            <%});%>
          </table>
        </div>
      </div>
    </div>
</div>
