<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li>Repositories</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Public Repositories</div>
            <ul class="list-group">
                <% _.forEach(publicRepos, function(repo){ %>
                    <a href="#repository/<%= repo.name %>" class="list-group-item">
                        <%= repo.name %>  <div class="pull-right"> Last update: <%= repo.fromNow %></div>
                    </a>
                <% }); %>
            </ul>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Private Repositories</div>
            <ul class="list-group">
                <% _.forEach(privateRepos, function(repo){ %>
                    <a href="#repository/<%= repo.name %>" class="list-group-item">
                        <%= repo.full_name %> <div class="pull-right"> Last update: <%= repo.fromNow %></div>
                    </a>
                <% }); %>
            </ul>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Organization Repositories</div>
            <ul class="list-group">
                <% _.forEach(orgaRepos, function(repo){ %>
                    <a href="#repository/<%= repo.name %>" class="list-group-item">
                        <%= repo.full_name %> <div class="pull-right"> Last update: <%= repo.fromNow %></div>
                    </a>
                <% }); %>
            </ul>
        </div>
    </div>
</div>