<ol class="breadcrumb">
    <li><%= user %></li>
    <li><%= repo %></li>
    <%if (branch) {%>
      <li><%= branch %></li>
    <%}%>
</ol>
<div class="btn-group clearfix">
    <button type="button" class="btn btn-default first" <% if(!hasFirst){%>disabled="disabled"<%}%>>First</button>
    <button type="button" class="btn btn-default previous" <% if(!hasPrevious){%>disabled="disabled"<%}%>>Previous</button>
    <button type="button" class="btn btn-default next" <% if(!hasNext){%>disabled="disabled"<%}%>>Next</button>
</div>
<ul id="commitList" class="list-group"></ul>
<div class="btn-group">
    <button type="button" class="btn btn-default first" <% if(!hasFirst){%>disabled="disabled"<%}%>>First</button>
    <button type="button" class="btn btn-default previous" <% if(!hasPrevious){%>disabled="disabled"<%}%>>Previous</button>
    <button type="button" class="btn btn-default next" <% if(!hasNext){%>disabled="disabled"<%}%>>Next</button>
</div>