<div ng-include="'components/menu/menu.html'"></div>
<div id="main" class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li><a ui-sref="listFilter()">filter</a></li>
                <li>{{filter.getId()}}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="well well-lg" ng-if="filter.isNew()">Do find commits you want to review try to select
                a repository and a branch. After selecting them you will have more criterias to dive in the commits.
                <p>
                    <label class="input-sm">Import Filter:</label>
                    <span class="btn btn-primary btn-file btn-sm">
                        Browse&hellip;<input type="file" data-file-change="importFilter($event, files)" accept="application/json">
                    </span>
                </p>
            </div>
            <div class="panel" ng-class="{'panel-danger': !filter.isHealthy(), 'panel-default': filter.isHealthy()}">
                <div class="panel-heading ">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label for="selectGroup">Repository: </label>
                            <select id="selectGroup"
                                    class="form-control input-sm"
                                    ng-options="repo.name group by repo.owner.login for repo in repoList track by repo.full_name"
                                    ng-model="scope.selectedRepo">
                                <option value="">--- choose repository ---</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="selectBranch">Branch: </label>
                            <select id="selectBranch" class="form-control input-sm" ng-model="scope.selectedBranch" ng-options="branch for branch in branchList">
                                <option ng-if="!scope.selectedRepo || !branchList.length" value="">--- {{scope.selectedRepo && !branchList.length ? 'fetching branches' : 'choose repository first'}} filter-list---</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="filterSinceAmount">Since: </label>
                            <input ng-model="scope.filterSinceAmount" id="filterSinceAmount" class="form-control input-sm" type="number" min="0" max="99"/>
                            <label class="sr-only" for="filterSincePattern">Since pattern</label>
                            <select id="filterSincePattern" class="form-control input-sm" ng-model="scope.filterSincePattern" ng-options="sincePattern for sincePattern in availableFilterSincePattern"></select>
                        </div>
                        <div class="form-group">
                            <label for="filterContributor">Contributor: </label>
                            <input type="text" disabled placeholder="" style="width: 300px;" ng-if="contributorList.length === 0">
                            <ui-select id="filterContributor" multiple ng-model="scope.selectedContributor" class="input-sm" style="width: 300px;" ng-if="contributorList.length > 0">
                                <ui-select-match placeholder="Select contributor...">{{$item.login}}</ui-select-match>
                                <ui-select-choices repeat="contributor in contributorList | filter:$select.search">
                                    <img height="36px" class="media-object pull-left"
                                         ng-src="{{contributor.avatar_url}}"/>&nbsp;
                                    <div ng-bind-html="contributor.login| highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group pull-right">
                            <div class="btn-group btn-group-xs">
                                <button ng-if="scope.selectedBranch && !filterIsSaved()" class="btn btn-success" ng-click="saveFilter()">Save</button>
                                <button ng-if="scope.selectedBranch && !filterIsSaved() && !filter.isNew()" class="btn btn-success" ng-click="saveFilterAsNew()">Save as new</button>
                                <button ng-if="scope.selectedRepo && !filterIsSaved()" class="btn btn-warning" ng-click="reset()">Reset </button>
                                <button class="btn btn-default" ng-click="showAdvanced = !showAdvanced">{{showAdvanced ? 'Less' : 'More'}}</button>
                            </div>
                        </div>
                    </form>
                    <!--Advanced filter section-->
                    <div collapse="!showAdvanced">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label for="excludeOwnCommits">Exclude own commits: </label>
                                <input type="checkbox" id="excludeOwnCommits" ng-model="excludeOwnCommits"/>
                            </div>
                            <div class="form-group">
                                <label for="filterReviewState">Review state: </label>
                                <select id="filterReviewState"
                                        class="form-control input-sm"
                                        ng-model="scope.filterReviewState"
                                        ng-options="reviewState for reviewState in availableFilterReviewStates">
                                    <option value=""> --- select review state ---</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="filterTree">Tree: </label>
                                <input id="filterTree" type="text" ng-model="scope.filterPath"
                                       typeahead="tree.path for tree in getRepoTree($viewValue)"
                                       typeahead-on-select="pathSelected($item, $model, $label)"
                                       typeahead-append-to-body="true"
                                       typeahead-focus-first="true"
                                       class="form-control input-sm">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-body">
                    <div ng-if="filter.isFetchingCommits" class="well">
                        Fetching commits for {{scope.selectedRepo.full_name}} - {{scope.selectedBranch}}
                    </div>
                    <div class="col-lg-12" ng-if="commits.length > 0">
                        <pagination total-items="commitsLength" items-per-page="20" ng-model="scope.currentPage"
                                    max-size="5" class="pagination-sm" boundary-links="true"
                                    rotate="false"></pagination>
                        <ghreview-commit-list data-commit-list="commits" data-filter="filter"></ghreview-commit-list>
                        <pagination total-items="commitsLength" items-per-page="20" ng-model="scope.currentPage"
                                    max-size="5" class="pagination-sm" boundary-links="true"
                                    rotate="false"></pagination>
                    </div>
                </div>
            </div>
            <div class="alert alert-danger" role="alert" ng-if="showError">{{error}}</div>
            <div class="alert alert-danger" role="alert" ng-if="showDefaultError">You found a potential bug in
                gh-review. Please help on making gh-review better and report it by following <a class="alert-link"
                                                                                                href="https://github.com/Dica-Developer/gh-review/issues/new">this
                    link</a>.
            </div>
        </div>
    </div>
</div>
