<div class="panel-heading">
    <div class="media">
        <img ng-if="comment.user" height="24px" class="media-object pull-left" ng-src="{{comment.user.avatar_url}}" title="{{comment.user.login}}" />
        <div class="media-body">
            <strong ng-if="comment.user">{{comment.user.login}}</strong>
            <div class="pull-right">
                <span ng-if="comment.created_at" class="text-muted"><formatted-date date="comment.created_at"></formatted-date></span>
                <div class="btn-group btn-group-xs">
                    <button ng-if="comment.shouldShowEditButton()" type="button" class="btn btn-default edit" ng-click="comment.edit()">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button ng-if="comment.id" type="button" class="btn btn-default remove" ng-click="delete()">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--existing comment-->
<div ng-if="comment.id" class="panel-body" >
    <div ng-if="comment.mode !== 'edit'" ng-bind-html="comment.mode === 'show' ? comment.body_html : comment.preview_html"></div>
    <textarea ng-if="comment.mode === 'edit'" class="form-control" ng-model="comment.edit_text"></textarea>

    <button ng-if="comment.mode !== 'show'" type="button" id="cancelComment" class="btn btn-default btn-sm" ng-click="comment.cancelEdit()">Cancel</button>
    <button ng-if="comment.mode === 'edit'" type="button" id="previewComment" class="btn btn-default btn-sm" ng-click="comment.preview()">Preview</button>
    <button ng-if="comment.mode === 'preview'" type="button" id="continueEditComment" class="btn btn-default btn-sm" ng-click="comment.mode = 'edit'">Edit</button>
    <button ng-if="comment.mode !== 'show'" type="button" id="submitLineComment" class="btn btn-primary btn-sm" ng-click="comment.save()">Save</button>
</div>

<!--new comment-->
<div ng-if="!comment.id" class="panel-body" >
    <div ng-if="comment.mode !== 'edit'" ng-bind-html="comment.preview_html"></div>
    <textarea ng-if="comment.mode === 'edit'" class="form-control" ng-model="comment.edit_text"></textarea>

    <button ng-if="comment.mode !== 'show'" type="button" id="cancelComment" class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
    <button ng-if="comment.mode === 'edit' && comment.edit_text" type="button" id="previewComment" class="btn btn-default btn-sm" ng-click="comment.preview()">Preview</button>
    <button ng-if="comment.mode === 'preview'" type="button" id="continueEditComment" class="btn btn-default btn-sm" ng-click="comment.mode = 'edit'">Edit</button>
    <button ng-if="comment.mode !== 'show' && comment.edit_text" type="button" id="submitLineComment" class="btn btn-primary btn-sm" ng-click="comment.createComment()">Create</button>
</div>
