<accordion>
    <accordion-group is-open="commitHeaderStatus.open">
        <accordion-heading>
            <div class="media">
                <avatar commit="commit.committer"></avatar>
                <!--TODO remove inline style-->
                <div class="media-body" style="padding-left: 5px; margin: 5px;">
                    <strong>{{commit.committer.name}}</strong> <span class="text-muted">authored <formatted-date
                        date="commit.date"></formatted-date></span>
                        <span class="pull-right" ng-if="approvers.length > 0">
                                approved by
                                <a ng-repeat="approver in approvers" href="https://github.com/{{approver}}"
                                   class="user-mention">@{{approver}}</a>
                        </span>
                </div>
            </div>
            <commit-message-teaser message="commit.message"></commit-message-teaser>
            <i class="pull-right glyphicon"
               ng-class="{'glyphicon-chevron-down': commitHeaderStatus.open, 'glyphicon-chevron-right': !commitHeaderStatus.open}"></i>
        </accordion-heading>
        <pre ng-if="commitHeaderStatus.open">{{commit.message}}</pre>
    </accordion-group>
</accordion>