<div>
    <accordion ng-if="commitHeaderStatus.shouldCollapse">
        <accordion-group is-open="commitHeaderStatus.open">
            <accordion-heading>
                <div class="media">
                    <div class="media-left">
                        <avatar commit="commitResponse"></avatar>
                    </div>
                    <!--TODO remove inline style-->
                    <div class="media-body" style="padding-left: 5px; margin: 5px;">
                        <commit-message-teaser message="commitResponse.commit.message"></commit-message-teaser>
                        <div class="commit-meta">
                            {{commitResponse.commit.committer.name}} <span class="text-muted">committed <formatted-date
                                date="commitResponse.commit.committer.date"></formatted-date></span>
                        </div>
                        <span class="pull-right" ng-if="approvers.length > 0">
                                approved by
                                <a ng-repeat="approver in approvers" href="https://github.com/{{approver}}"
                                   class="user-mention">@{{approver}}</a>
                        </span>
                    </div>
                </div>
                <i class="pull-right glyphicon"
                   ng-class="{'glyphicon-chevron-down': commitHeaderStatus.open, 'glyphicon-chevron-right': !commitHeaderStatus.open}"></i>
            </accordion-heading>
            <pre ng-if="commitHeaderStatus.open">{{commitResponse.commit.message}}</pre>
        </accordion-group>
    </accordion>

    <div ng-if="!commitHeaderStatus.shouldCollapse" class="panel panel-default">
        <div class="panel-heading">
            <div class="media">
                <div class="media-left">
                    <avatar commit="commitResponse"></avatar>
                </div>
                <!--TODO remove inline style-->
                <div class="media-body" style="padding-left: 5px; margin: 5px;">
                    <commit-message-teaser message="commitResponse.commit.message"></commit-message-teaser>
                    <div class="commit-meta">
                        {{commitResponse.commit.committer.name}} <span class="text-muted">committed <formatted-date
                            date="commitResponse.commit.committer.date"></formatted-date></span>
                    </div>
                    <span class="pull-right" ng-if="approvers.length > 0">
                            approved by
                            <a ng-repeat="approver in approvers" href="https://github.com/{{approver}}"
                               class="user-mention">@{{approver}}</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>