<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><%= reviewData.owner %></li>
            <li><%= reviewData.repo %></li>
            <li><a href="#commits/<%= reviewData.owner %>/<%= reviewData.repo %>/<%= reviewData.branch %>"><%= reviewData.branch %></a></li>
            <li><%= model.sha %></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h5><%= message.join('<br/>') %></h5>
            </div>
            <div class="panel-body">
                <div class="media">
                    <img height="24px" class="media-object pull-left" src="<%= model.author.avatar_url %>" title="<%= model.author.login %>"/>
                    <div class="media-body">
                        <strong><%= model.author.login %></strong> <span class="text-muted">authored <%= _.moment(model.commit.author.date).fromNow() %></span>
                        <span class="pull-right">
                            <% if (approved) { %>
                                approved by
                                <% _.each(approvers, function (approver) { %>
                                    <a href="https://github.com/<%= approver%>" class="user-mention">@<%= approver%></a>
                                <% }); %>
                            <% } %>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <small>
            Showing <strong><%= model.diff.files.length %> changed
            <% if(model.diff.files.length === 1) {%>
                file
            <% }else{%>
                files
            <% }%>
            </strong> with
            <strong><%= model.diff.stats.additions %> additions</strong> and
            <strong><%= model.diff.stats.deletions %> deletions</strong>
        </small>
    </div>
</div>

<div class="row" id="diff-view">
    <div class="col-sm-12">
        <% _.forEach(model.diff.files, function(file, fileIndex){ %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    File: <%= file.filename %>
                    <div class="pull-right">
                        <span class="label label-success">
                            <span class="glyphicon glyphicon-plus"></span> <%= file.additions %>
                        </span>
                        <span class="label label-danger">
                            <span class="glyphicon glyphicon-minus"></span> <%= file.deletions %>
                        </span>
                        <span class="label label-info">
                            <span class="glyphicon glyphicon-transfer"></span> <%= file.changes %>
                        </span>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="comments table table-condensed table-hover">
                        <% var lineIndex = 0; %>
                        <% _.forEach(files[fileIndex].chunks, function(chunk){%>
                            <% _.forEach(chunk.lines, function(line){%>
                                <tr class="<%= line.format %>" data-path="<%= file.filename %>" data-line="<%= lineIndex %>">
                                    <td class="lineNr"><%= line.lineNrLeft %></td>
                                    <td class="lineNr"><%= line.lineNrRight %></td>
                                    <td><pre data-position="<%= lineIndex %>" data-fileindex="<%= fileIndex %>"><%= line.text %></pre></td>
                                </tr>
                            <% lineIndex++; %>
                            <% }); %>
                        <% }); %>
                    </table>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table-responsive table table-condensed commit-comments"></table>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <% if (approvedByUser) { %>
            <div class="pull-right">
                <button id="unApproveCommitButton" type="button" class="btn btn-danger unApproveCommit" data-commentid="<%= approveCommentId%>">Unapprove Commit</button>
            </div>
        <% } else { %>
            <div class="pull-right">
                <button type="button" class="btn btn-success approveCommit">Approve Commit</button>
            </div>
        <% } %>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div id="commitCommentBox">
            <textarea class="form-control"></textarea>
            <button type="button" id="submitCommitComment" class="btn btn-primary btn-sm">Add a comment</button>
        </div>
    </div>
</div>
