<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><%= model.user %></li>
            <li><%= model.repo %></li>
            <%if (model.branch) {%>
                <li><%= model.branch %></li>
            <%} else {%>
                <li>master</li>
            <%}%>
        </ol>
    </div>
</div>

<div class="row commit-list-buttons-top">
    <div class="col-md-12">
        <div class="btn-group clearfix">
            <button type="button" class="btn btn-default first" <% if(!hasFirstPage){%>disabled="disabled"<%}%>>First</button>
            <button type="button" class="btn btn-default previous" <% if(!hasPreviousPage){%>disabled="disabled"<%}%>>Previous</button>
            <button type="button" class="btn btn-default next" <% if(!hasNextPage){%>disabled="disabled"<%}%>>Next</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul id="commitList" class="list-group"></ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="btn-group">
            <button type="button" class="btn btn-default first" <% if(!hasFirstPage){%>disabled="disabled"<%}%>>First</button>
            <button type="button" class="btn btn-default previous" <% if(!hasPreviousPage){%>disabled="disabled"<%}%>>Previous</button>
            <button type="button" class="btn btn-default next" <% if(!hasNextPage){%>disabled="disabled"<%}%>>Next</button>
        </div>
    </div>
</div>
