(function(angular){
  'use strict';
  angular.module('GHReview')
    .constant('options', {
      github: {
        clientId: '<%= clientId %>',
        apiScope: '<%= apiScope %>',
        redirectUri: '<%= redirectUri %>',
        accessTokenUrl: '<%= accessTokenUrl %>',
        rootUrl: '<%= rootUrl %>'
      },
      'ghReview': {
        version: '<%= version %>'
      }
    });
}(angular));