/*global define*/
define([], function(){
  'use strict';
  return {
    clientId: '<%= clientId %>',
    apiScope: '<%= apiScope %>',
    redirectUri: '<%= redirectUri %>',
    accessTokenUrl: '<%= accessTokenUrl %>'
  };
});