define(function(){
    'use strict';
    return {
        github: {
            clientId: '<%= clientId %>',
            apiScope: '<%= apiScope %>',
            redirectUri: '<%= redirectUri %>',
            accessTokenUrl: '<%= accessTokenUrl %>'
        },
        'ghReview': {
            version: '<%= version %>'
        }
    };
});