<div class="row review-overview">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-group-xs">
                    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#extraOptions">More</button>
                </div>
            </div>
            <div class="panel-body collapse out" id="extraOptions">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <label class="input-sm">Group by</label>
                            <select id="selectGroup" class="form-control input-sm" ng-model="selectedGrouping" ng-options="opt as opt.label for opt in groupingOptions"></select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default" ng-repeat="groupedFilter in filterList">
            <div ng-if="selectedGrouping.value === 'repo'" class="panel-heading">{{groupedFilter[0].getRepo()}}</div>
            <div ng-if="selectedGrouping.value === 'owner'" class="panel-heading">{{groupedFilter[0].getOwner()}}</div>
            <div ng-if="selectedGrouping.value === 'state'" class="panel-heading">{{groupedFilter[0].getState() || 'unreviewed'}}</div>
            <ul id="reviewList" class="list-group">
                <a ng-repeat="filter in groupedFilter" ui-sref="commitsByFilter({filterId: filter.getId()})" class="list-group-item">
                    <span ng-if="selectedGrouping.value !== 'owner'"><strong>Owner: </strong>{{groupedFilter[0].getOwner()}}</span>
                    <span ng-if="selectedGrouping.value !== 'repo'"><strong>Repository: </strong>{{ filter.getRepo() }}</span>
                    <span ng-show="filter.getBranch()"><strong>Branch: </strong>{{ filter.getBranch() }}</span>
                    <span ng-hide="!filter.getSinceDate()"><strong>Since: </strong><formatted-date date="filter.getSinceDate()"></formatted-date></span>
                    <span ng-show="filter.getAuthors()"><strong>Authors: </strong>{{ filter.getAuthors() }}</span>
                    <span ng-hide="!filter.getState()"><strong>Review State: </strong>{{ filter.getState() }}</span>
                    <div class="pull-right">
                        <span ng-show="filterEvents[filter.getId()].commits.length > 0" class="label label-info">
                            <ng-pluralize count="filterEvents[filter.getId()].commits.length" when="{'one': '1 new commit','other': '{} new commits'}">
                            </ng-pluralize>
                        </span>
                        &nbsp;
                        <span class="destroy glyphicon glyphicon-pencil" ng-click="editFilter(filter.getId(), $event)"></span>
                        <span class="destroy glyphicon glyphicon-remove-circle" ng-click="removeFilter(filter.getId(), $event)"></span>
                    </div>
                    <!--<span class="stats glyphicon glyphicon-stats pull-right" data-id="{{ filter.id }}"></span>-->
                </a>
            </ul>
        </div>
        <a ui-sref="addFilter" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span> Add one more filter
        </a>
    </div>
</div>
