<div ng-include="'components/menu/menu.html'"></div>
<div id="main" class="container-fluid">
    <div class="row review-overview">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Grouped by: {{selectedGrouping.label}}
                    <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="collapse" data-target="#extraOptions">More </button>
                </div>
                <div class="panel-body collapse out" id="extraOptions">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="input-sm">Group by:</label>
                            <select id="selectGroup" class="form-control input-sm" ng-model="selectedGrouping" ng-options="opt as opt.label for opt in groupingOptions"></select>
                        </div>
                        <div class="form-group">
                            <label class="input-sm">Export Filter:</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary btn-sm" type="button" ng-click="exportFilter()">Export </button>
                                </span>
                                <input type="text" class="form-control input-sm" ng-model="exportName" placeholder="{{exportName}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="input-sm">Import Filter:</label>
                            <span class="btn btn-primary btn-file btn-sm">
                                Browse&hellip;<input type="file" data-file-change="importFilter($event, files)" accept="application/json">
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default" ng-repeat="groupedFilter in filterList">
                <div ng-if="selectedGrouping.value === 'repo'" class="panel-heading">{{groupedFilter[0].getOwner()}}/{{groupedFilter[0].getRepo()}}</div>
                <div ng-if="selectedGrouping.value === 'owner'" class="panel-heading">{{groupedFilter[0].getOwner()}}</div>
                <div ng-if="selectedGrouping.value === 'state'" class="panel-heading">{{groupedFilter[0].getState() || 'unreviewed'}} </div>

                <ul id="reviewList" class="list-group">
                    <a ng-repeat="filter in groupedFilter" ui-sref="commitsByFilter({filterId: filter.getId()})"
                       class="list-group-item" ng-class="{'list-group-item-danger': !filter.isHealthy()}">

                        <div class="row">

                            <div class="col-sm-9 col-xs-8">
                                <span ng-if="!filter.isHealthy()"
                                      class="filter-error glyphicon glyphicon-alert hidden-xs"
                                      popover="{{getErrorDescription(filter)}}"
                                      popover-title="{{getErrorTitle(filter)}}"
                                      popover-placement="right"
                                      popover-trigger="mouseenter"
                                        ></span>
                                <span class="hidden-xs" ng-if="selectedGrouping.value !== 'owner'"><strong>Owner: </strong>{{groupedFilter[0].getOwner()}}</span>
                                <span class="hidden-xs" ng-if="selectedGrouping.value !== 'repo'"><strong>Repository: </strong>{{ filter.getRepo() }}</span>
                                <span class="hidden-xs" ng-if="filter.getBranch()"><strong>Branch: </strong>{{ filter.getBranch() }}</span>
                                <span class="hidden-xs" ng-if="filter.getSinceDate()"><strong>Since: </strong><formatted-date date="filter.getSinceDate()"></formatted-date></span>
                                <span class="hidden-xs" ng-if="filter.getAuthors().length"><strong>Authors: </strong>{{ filter.getAuthors().join(', ') }}</span>

                                <span class="visible-xs ellipsis">{{ selectedGrouping.value === 'owner' ? filter.getOwner() : ''}}/{{filter.getBranch()}}</span>
                            </div>

                            <div class="col-sm-3 col-xs-4">

                                <div class="pull-right">
                                    <span ng-if="filterEvents[filter.getId()].commits.length > 0" class="label label-info hidden-xs">
                                        <ng-pluralize
                                                count="filterEvents[filter.getId()].commits.length"
                                                when="{'one': '1 new commit','other': '{} new commits'}">
                                        </ng-pluralize>
                                    </span>

                                    <span class="label label-info visible-xs-inline-block" ng-if="filterEvents[filter.getId()].commits.length > 0">{{filterEvents[filter.getId()].commits.length}}</span>
                                    <span class="standup glyphicon glyphicon-dashboard" tooltip="Standup" ng-click="standup(filter.getId(), $event)"></span>
                                    <span class="destroy glyphicon glyphicon-remove-circle" tooltip="Remove" ng-click="removeFilter(filter.getId(), $event)"></span>

                                </div>

                            </div>
                        </div>
                    </a>
                </ul>
            </div>
            <a ui-sref="addFilter" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> Add one more filter
            </a>
        </div>
    </div>
</div>
