//commit view
commit-header {
  .panel-title {
    font-size: 14px;
  }
  .accordion-toggle {
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
}

#diff-view {
  .collapse-expand-label {
    cursor: pointer;
  }
}

.pull-right {
  span:first-child {
    display: inline-block;
  }
  span:nth-last-child(2) {
    display: inline-block;
  }
  span:last-child {
    display: inline-block;
  }
}