<div class="panel panel-default" ng-repeat="commits in sortedCommits">
    <div class="panel-heading" formatted-date format="LL" date="commits[0].commit.committer.date"></div>
    <ul id="commitList" class="list-group">
        <a ng-class="{'selected-commit': (selectedCommit === commit.sha)}"
           ng-repeat="commit in commits"
           ui-sref="commitBySha({sha: commit.sha, user: filter.getOwner(), repo: filter.getRepo()})"
           class="list-group-item"
           ng-click="loader = commit.sha">
            <div id="{{commit.sha}}" class="scroll-anchor"></div>
            <div class="media">
                <div class="media-left">
                    <avatar commit="commit"></avatar>
                </div>

                <div class="media-body">
                    <div class="commit-message" title="{{commit.commit.message}}">
                        <strong class="breakLine">{{commit.commit.message}}</strong>
                    </div>
                    <div class="commit-meta">
                        {{commit.commit.author.name}}
                        <small formatted-date date="commit.commit.committer.date"></small>
                        <span class="label label-success" ng-if="commitApproved(commit.sha)">approved</span>
                    </div>
                    <div class="pull-right">
                            <span ng-show="commit.commit.comment_count > 0" class="label label-info hidden-xs">
                                <ng-pluralize count="commit.commit.comment_count"
                                              when="{
                                                    'one': '1 comment',
                                                    'other': '{} comments'}
                                                    ">
                                </ng-pluralize>
                            </span>
                        &nbsp;
                        <span ng-show="filterEvents.commits.indexOf(commit.sha) > -1"
                              class="label label-success hidden-xs">New</span>
                    </div>
                </div>
            </div>
            <div class="commit-loader" ng-if="commit.sha === loader">
                <div class="commit-loader-message">Loading commit {{commit.sha}}</div>
            </div>
        </a>
    </ul>
</div>
<div id="commitListLoadingIndicator"></div>