<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="../css/main.css">
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    <script type="text/javascript">
        window.nodeRequire = window.require;
        window.require = undefined;
    </script>
</head>
<body>
<div id="container">
    <section id="topMenu"></section>
    <section id="main"></section>
</div>

<!-- build:js scripts/main.js -->
<script data-main="../js/main" src="../bower_components/requirejs/require.js"></script>
<!-- endbuild -->
</body>
</html>
