<div class="row">
    <div class="col-sm-12">
        <div class="well well-sm">
            Now you can refine the filter/statistics. You can also store filter settings at every point.
            With the 'Preview' button you will see a list of commits with the current filter applied.<br>
            So you can always check if your filter does match anything.
            Your current filter settings are:
            <div id="currentFilterSettings">

            </div>
        </div>
        <button type="button" class="btn btn-warning pull-right">Not saved</button>
        <button type="button" class="btn btn-default pull-right">Preview</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <div class="well well-sm">
            The time range filter ca be set to reduce the amount of commits by setting either a
            sliding time window, eg. since 2 weeks ago, or fixed date ranges.
        </div>
        <div id="timeWindowFilter">
            <form id="timeChartSettings" class="form-inline" role="form">
                <div class="form-group">
                    <select id="timeChartMethod" class="form-control input-sm">
                        <option value="sliding">Sliding Time Window</option>
                        <option value="fixed">Fixed Date Range</option>
                    </select>
                </div>
                <div class="form-group" id="timeChartSlidingSettings">
                    <input id="timeChartSlidingAmount" type="number" min="1" max="99" value="2"
                           class="form-control input-sm">
                    <select id="timeChartSlidingPattern" class="form-control input-sm">
                        <option value="days">Days</option>
                        <option value="weeks" selected="selected">Weeks</option>
                        <option value="years">Years</option>
                    </select>
                    ago
                </div>
                <div class="form-group" id="timeChartFixedSettings">
                    <label for="timeChartFixedStart" id="timeChartFixedStartLabel">Since</label>
                    <input id="timeChartFixedStart" type="date" class="form-control input-sm">
                    <label for="timeChartFixedEnd">Until</label>
                    <input id="timeChartFixedEnd" type="date" class="form-control input-sm">
                </div>
                <button class="btn btn-primary btn-sm pull-right" id="applyTimeChartSettings">Apply</button>
                <div class="clear-fix"></div>
            </form>
        </div>
        <div id="time-chart">

        </div>
    </div>
    <div class="col-sm-4">
        <div class="well well-sm">Filter commits by author</div>
        <div id="commitsPerAuthor-chart">
            <span class="text-primary">Filter by author</span>
                <span class="reset pull-right" style="display: none;">
                    Showing : <span class="filter"></span>
                    <a class="reset" href="javascript: void 0;" data-chart="repo-access-chart" style="display:none;">Reset
                        filter</a>
                </span>
        </div>
    </div>
</div>
</div>
