    <div class="col-sm-12">
        <div class="well well-sm">
            Now you can refine the filter/statistics. You can also store filter settings at every point.
            With the 'Preview' button you will see a list of commits with the current filter applied.<br>
            So you can always check if your filter does match anything.
            Your current filter settings are:
            <div id="currentFilterSettings">

            </div>
        </div>
        <button type="button" class="btn btn-warning pull-right">Not saved</button>
        <button type="button" class="btn btn-default pull-right">Preview</button>
    </div>