<commit-list-paginator></commit-list-paginator>

<div class="row">
    <div class="col-md-12">
        <ul id="commitList" class="list-group">
            <a ng-repeat="commit in commits" ui-sref="commitBySha({sha: commit.sha, user: user, repo: repo})"
               class="list-group-item" ng-click="loader = commit.sha">
                <div class="media">
                    <img height="36px" class="media-object pull-left" ng-src="{{commit.author.avatar_url}}"
                         title="{{commit.commit.author.name}}">

                    <div class="media-body">
                        <div class="commit-message" title="{{commit.commit.message}}">
                            <strong class="breakLine">{{commit.commit.message}}</strong>
                        </div>
                        <div class="commit-meta">
                            {{commit.commit.author.name}}
                            <small formatted-date date="commit.commit.committer.date"></small>
                            <span class="label label-success" ng-if="commitApproved(commit.sha)">approved</span>
                        </div>
                        <span class="badge pull-right">{{commit.commit.comment_count}}</span>
                    </div>
                </div>
                <div class="commit-loader" ng-if="commit.sha === loader"><div class="commit-loader-message">Loading commit {{commit.sha}}</div></div>
            </a>
        </ul>
    </div>
</div>

<commit-list-paginator></commit-list-paginator>
<div id="commitListLoadingIndicator"></div>