<a href="#commit/filter/<%= sha %>" class="list-group-item">
    <div class="media">
        <img height="36px" class="media-object pull-left" src="<%= authorAvatar %>" title="<%= authorName %>"/>

        <div class="media-body">
            <div class="commit-message" title="<%= message.join('\n') %>">
                <strong class="breakLine"><%= message.join('<br/>') %></strong>
            </div>
            <div class="commit-meta">
                <%= authorName %>
                <small>authored <%= _.moment(authorDate).fromNow() %></small>
                <%if (approved) {%>
                    <span class="label label-success">approved</span>
                <%}%>
                <%if (isFeatureCommit) {%>
                    <span class="label label-primary">feature</span>
                <%}%>
            </div>
            <span class="badge pull-right"><%= commentCount %></span>
        </div>
    </div>
</a>