<div class="page-header">
    <h1>Total
        <small>
            Total: <%= stats.total %> <br />
            Additions: <%= stats.additions %> <br />
            Deletions: <%= stats.deletions %> <br />
        </small>
    </h1>
</div>

<h3>Files:</h3>
<% _.forEach(files, function(file, fileIndex){ %>
<div class="panel panel-default">
    <div class="panel-heading">
        File: <%= file.filename %>
        <div class="pull-right">
            <span class="label label-success">
                <span class="glyphicon glyphicon-plus"></span> <%= file.additions %>
            </span>
            <span class="label label-danger">
                <span class="glyphicon glyphicon-minus"></span> <%= file.deletions %>
            </span>
            <span class="label label-info">
                <span class="glyphicon glyphicon-transfer"></span> <%= file.changes %>
            </span>
        </div>
    </div>
    <table class="comments table table-condensed table-bordered table-hover">
        <% _.forEach(computedFiles[fileIndex].chunks, function(chunk){%>
            <% _.forEach(chunk.lines, function(line, lineIndex){%>
                <tr class="<%= line.format %>" data-path="<%= file.filename %>" data-line="<%= lineIndex %>">
                    <td class="lineNr"><%= line.lineNrLeft %></td>
                    <td class="lineNr"><%= line.lineNrRight %></td>
                    <td><pre data-position="<%= lineIndex %>" data-fileindex="<%= fileIndex %>"><%= line.text %></pre></td>
                </tr>
            <% }); %>
        <% }); %>
    </table>
</div>
<% }); %>
