<div class="row commit-list-buttons-top">
    <div class="col-md-12">
        <div class="btn-group clearfix">
            <button type="button" class="btn btn-default first" ng-disabled="!hasFirst" ng-click="getFirstPage()">First</button>
            <button type="button" class="btn btn-default previous" ng-disabled="!hasPrevious" ng-click="getPreviousPage()">Previous</button>
            <button type="button" class="btn btn-default next" ng-disabled="!hasNext" ng-click="getNextPage()">Next</button>
        </div>
    </div>
</div>