<div class="row animate-hide" ng-hide="progress >= 100">
    <progressbar class="navbarProgressbar" value="progress" type="{{progressType}}"></progressbar>
</div>
<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group-xs">
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#extraOptions">More</button>
            </div>
        </div>
        <div class="panel-body collapse out" id="extraOptions">
            <div class="form-group">
                <label>Highlight theme</label>
                <select id="highlightTheme" class="form-control" ng-options="theme.display for theme in themes" ng-model="highlightTheme"></select>
            </div>
            <div class="form-group">
                <label>Language</label>
                <select id="suggestedLanguage" class="form-control" ng-options="language.display for language in languages" ng-model="suggestedLanguage"></select>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="showComments" class="form-control" ng-model="showComments"></input> Show comments
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <!--<div class="uncomplete-diff-warning" ng-if="showUncompleteDiffWarning">Diff is very big! Diff is not complete!</div>-->
        <div class="table-wrapper">
            <div class="div-table" ng-class="highlightTheme.value">
                <div ng-repeat="line in splicedFileContent" ng-model="line">
                    <div class="div-table-row" ng-class="line.highlight">
                        <div class="div-table-cell" popover="{{line.linkTitle}}" popover-trigger="mouseenter" popover-placement="right" popover-append-to-body="true"><a
                            ui-sref="commitBySha(line.propertiesNeededForCommitView)">{{line.linkString}}</a></div>
                        <div class="commitMarker div-table-cell" style="background-color: {{line.color}}"></div>
                        <div class="lineNr div-table-cell">{{line.lineIndex}}</div>
                        <div class="div-table-cell" hljs source="line.content" language="{{suggestedLanguage.hljs}}">
                        </div>
                    </div>

                    <div class="comments-wrapper" ng-if="comments[line.lineIndex +'-'+ line.sha]" ng-show="showComments">
                        <div class="comments div-table-row"  ng-repeat="comment in comments[line.lineIndex +'-'+ line.sha]">
                            <div class="div-table-cell"></div>
                            <div class="div-table-cell lineNr"></div>
                            <div class="div-table-cell lineNr"></div>
                            <div class="lineComment panel panel-default" content="comment" comment></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="uncomplete-diff-warning" ng-if="showUncompleteDiffWarning">Diff is very big! Diff is not complete!</div>-->
    </div>
</div>
