<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label ng-if="!fetchingRepos" for="selectGroup">Repository: </label>
                        <label ng-if="fetchingRepos" for="selectGroup">Getting repositories!</label>
                        <select ng-if="!fetchingRepos"
                                id="selectGroup"
                                class="form-control input-sm"
                                ng-options="repo.name group by repo.owner.login for repo in allRepos track by repo.full_name"
                                ng-model="scope.selectedRepo">
                            <option value="">--- choose repository ---</option>
                        </select>
                    </div>
                    <div ng-if="!fetchingRepos" class="form-group">
                        <label ng-if="branchSelection.length > 0 && !fetchingBranches" for="selectBranch">Branch: </label>
                        <label ng-if="fetchingBranches" for="selectBranch">Getting branches!</label>
                        <select ng-if="branchSelection.length > 0"
                                id="selectBranch"
                                class="form-control input-sm"
                                ng-model="scope.selectedBranch"
                                ng-options="branch for branch in branchSelection">
                        </select>
                    </div>
                    <div ng-if="scope.selectedBranch" class="form-group">
                        <label for="filterSinceAmount">Since: </label>
                        <input ng-model="scope.filterSinceAmount" id="filterSinceAmount" class="form-control input-sm" type="number" min="0"
                               max="99"/>
                        <label class="sr-only" for="filterSincePattern">Since pattern</label>
                        <select id="filterSincePattern"
                                class="form-control input-sm"
                                ng-model="scope.filterSincePattern"
                                ng-options="sincePattern for sincePattern in availableFilterSincePattern"></select>
                    </div>
                    <div ng-if="contributorList.length > 0" class="form-group">
                        <label for="filterContributor">Contributor: </label>
                        <ui-select id="filterContributor" multiple ng-model="scope.selectedContributor" class="input-sm" style="width: 300px;">
                            <ui-select-match placeholder="Select contributor...">{{$item.login}}</ui-select-match>
                            <ui-select-choices repeat="contributor in contributorList | filter:$select.search">
                                <img height="36px" class="media-object pull-left" ng-src="{{contributor.avatar_url}}" />&nbsp;<div ng-bind-html="contributor.login| highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group pull-right">
                        <div class="btn-group btn-group-xs">
                            <button ng-if="settingsUpdated" class="btn btn-primary" ng-click="updateCommits()">Update Preview</button>
                            <button ng-if="scope.selectedBranch && !filterIsSaved()" class="btn btn-success" ng-click="saveFilter()">Save</button>
                            <button ng-if="scope.selectedRepo" class="btn btn-warning" ng-click="reset()">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-body" ng-if="commits.length > 0 || fetchingCommits">
                <div ng-if="commits.length <= 0 && fetchingCommits" class="well">
                    Fetching commits for {{scope.selectedRepo.full_name}} - {{scope.selectedBranch}}
                </div>
                <ghreview-commit-list ng-if="commits.length > 0 && !fetchingCommits" x-commit-list="commits" x-filter="filter"></ghreview-commit-list>
            </div>
        </div>
    </div>
</div>