<a href="#commits/filter/<%= id %>" class="list-group-item">
    <strong>Repository: </strong><%= repo %>
    <%if(typeof sha !== 'undefined'){%><strong>Branch: </strong><%= sha %><%}%>
    <% if(typeof author !== 'undefined' && !_.str.isBlank(author)){ %><strong>Author: </strong><%= author %><%}%>
    <% if(typeof path !== 'undefined' && !_.str.isBlank(path)){ %><strong>Path: </strong><%= path %><%}%>
    <% if(typeof since !== 'undefined' && !_.str.isBlank(since)){ %><strong>Since: </strong><%= _.moment(since).fromNow() %><%}%>
    <% if(typeof until !== 'undefined' && !_.str.isBlank(until)){ %><strong>Until: </strong><%= _.moment(until).fromNow() %><%}%>
    <% if(_.size(customFilter) > 0){ %>
        <strong>Custom Filter: </strong>
        <% if(customFilter.state) {%>
            <% if(customFilter.state === 'unseen') {%>
                Not Reviewed
            <%} else if(customFilter.state === 'reviewed') {%>
                Not Approved
            <%} else if(customFilter.state === 'approved') {%>
                Approved
            <%}%>
        <%}%>
    <%}%>
    <span class="destroy glyphicon glyphicon-remove-circle pull-right" data-id="<%= id %>"></span>
    <span class="stats glyphicon glyphicon-stats pull-right" data-id="<%= id %>"></span>
</a>
