<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a href="#repositories">Repositories</a></li>
            <li><%= repo.name %></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <h1><%= repo.name %></h1>
            <h2><%= repo.description %></h2>
            <p>Created at: <%= _.moment(repo.created_at).format("MMMM Do YYYY, h:mm:ss a") %>. Default branch: <%= repo.default_branch %></p>
            <p><%= repo.branches.length %> Branch<% if(repo.branches.length > 1){ %>es<%}%> developed by <%= repo.contributors.length %> contributor<% if(repo.contributors.length > 1){ %>s<%}%>.</p>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Existing reviews</h3></div>
            <table class="table table-hover">
                <% if(existingReviews.length > 0){ %>
                    <%_.each(existingReviews, function(reviewModel){%>
                        <tr>
                            <td><%= reviewModel.get('branch') %></td>
                            <td><%= reviewModel.get('contributor') %></td>
                            <td>
                                <div class="pull-right">
                                    <span class="destroy glyphicon glyphicon-remove-circle" data-cid="<%= reviewModel.cid %>"></span>
                                </div>
                            </td>
                        </tr>
                    <%});%>
                <%}%>
            </table>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>New review</h3>
                <p>
                    Set filter for new review. Adding a review without setting any filter will show
                    every commit of the repository's master branch. You can easily add a filter to get
                    commits of specific branch, author, path or a time range.
                </p>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2">Branch</div>
                    <div class="col-sm-2">Contributor</div>
                    <div class="col-sm-2">Since</div>
                    <div class="col-sm-2">Until</div>
                    <div class="col-sm-2">Path</div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <% if(filter.branch === '') {%>
                        <button class="btn btn-primary btn-sm filter" data-filter="branch">Add Filter</button>
                        <% } else { %>
                        <select class="form-control input-sm filterSelector" data-filter="branch">
                            <% _.forEach(repo.branches, function(branch){ %>
                            <option value="<%= branch.name %>" <% if(filter.branch === branch.name){%> selected="selected"<%}%>><%= branch.name %></option>
                            <% }); %>
                        </select>
                        <% } %>
                    </div>
                    <div class="col-sm-2">
                        <% if(filter.contributor === '') {%>
                        <button class="btn btn-primary btn-sm filter" data-filter="contributor">Add Filter</button>
                        <% } else { %>
                        <select class="form-control input-sm filterSelector" data-filter="contributor">
                            <% _.forEach(repo.contributors, function(contributor){ %>
                            <option value="<%= contributor.login %>"<% if(filter.contributor === contributor.login){%> selected="selected"<%}%>><%= contributor.login %></option>
                            <% }); %>
                        </select>
                        <% } %>
                    </div>
                    <div class="col-sm-2 filterSince">
                        <div class="input-group">
                            <% if(filter.since.pattern === '') {%>
                            <button class="btn btn-primary btn-sm filter" data-filter="since">Add Filter</button>
                            <% } else { %>
                                <input type="number" value="<%= filter.since.amount %>" min="1" max="999" class="form-control input-sm filterSelector" data-filter="since">
                                <span class="input-group-addon">
                                    <select class="form-control input-sm filterSelector" data-filter="since">
                                        <% _.forEach(['hours', 'days','weeks','years'], function(value){ %>
                                        <option value="<%= value %>" <% if(filter.since.pattern === value){ %> selected="selected"<%}%>><%= value %></option>
                                        <% }); %>
                                    </select>
                                </span>
                            <%}%>
                        </div>
                    </div>
                    <div class="col-sm-2"><button class="btn btn-primary btn-sm filter" data-filter="until">Add Filter</button></div>
                    <div class="col-sm-2"><button class="btn btn-primary btn-sm filter" data-filter="path">Add Filter</button></div>
                </div>
            </div>
            <div class="panel-footer height50"><button id="addReview" class="btn btn-success btn-sm pull-right">Add Review</button></div>
        </div>
    </div>
</div>