<div class="panel panel-default">
    <div class="panel-heading">Public Repositories</div>
    <ul class="list-group">
        <% _.forEach(publicRepos, function(repo){ %>
            <a href="#repo/<%= repo.id %>" class="list-group-item">
                <%= repo.name %>  ->  <%= repo.fromNow %>
            </a>
        <% }); %>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Private Repositories</div>
    <ul class="list-group">
        <% _.forEach(privateRepos, function(repo){ %>
            <a href="#repo/<%= repo.id %>" class="list-group-item">
                <%= repo.full_name %>  ->  <%= repo.fromNow %>
            </a>
        <% }); %>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Organization Repositories</div>
    <ul class="list-group">
        <% _.forEach(orgaRepos, function(repo){ %>
            <a href="#repo/<%= repo.id %>" class="list-group-item">
                <%= repo.full_name %>  ->  <%= repo.fromNow %>
            </a>
        <% }); %>
    </ul>
</div>