<div class="row">
    <div class="col-sm-12">
        <div id="time-chart"></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div id="commitsPerAuthor-chart">
            <span class="text-primary">Filter by author</span>
                    <span class="reset pull-right" style="display: none;">
                        Showing : <span class="filter"></span>
                        <a class="reset" href="javascript: void 0;" data-chart="repo-access-chart" style="display:none;">Reset
                            filter</a>
                    </span>

            <div class="clear-fix"></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div id="review-state-chart">
            <span class="text-primary">Filter by review state</span>
                    <span class="reset pull-right" style="display: none;">
                        Showing : <span class="filter"></span>
                        <a class="reset" href="javascript: void 0;" data-chart="review-state-chart" style="display:none;">Reset
                            filter</a>
                    </span>

            <div class="clear-fix"></div>
        </div>
    </div>
</div>
