<div class="row">
    <div class="col-sm-5">
        <div id="approved-pie-chart">
            <strong>Reviewed vs. Not reviewed</strong>
            <span class="reset" style="display: none;">Showing : <span class="filter"></span></span>
            <a class="reset" href="javascript: void 0;" data-chart="approved-pie-chart" style="display:none;">Reset</a>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-sm-5">
        <div id="commitsPerAuthor-chart">
            <strong>Commits by author</strong>
            <span class="reset" style="display: none;">Showing : <span class="filter"></span></span>
            <a class="reset" href="javascript: void 0;" data-chart="commitsPerAuthor-chart" style="display:none;">Reset</a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
    <div id="commitsPerDay-chart">
        <strong>Commits over last 2 weeks</strong>
        <span class="reset" style="display: none;">Showing : <span class="filter"></span></span>
        <a class="reset" href="javascript: void 0;" data-chart="commitsPerDay-chart" style="display:none;">Reset</a>
        <div class="clearfix"></div>
    </div>
</div>
<div class="row">
    <div id="commit-bar-chart">

    </div>
</div>
