<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= userName %> <% if(informUserAboutUpdate){ %><span class="glyphicon glyphicon-info-sign"></span><%};%><b class="caret"></b></a>
<ul class="dropdown-menu">
    <li><a href="#whoami">Who am I</a></li>
    <li><a href="https://github.com/Dica-Developer/gh-review/issues" target="_blank">I found a bug</a></li>
    <li><a href="https://github.com/Dica-Developer/gh-review">I need more</a></li>
    <li><a href="https://github.com/Dica-Developer/gh-review/wiki">How to use</a></li>
    <li><a href="#about">About</a></li>
    <li class="divider"></li>
    <li><a href="#logout">Logout</a></li>
</ul>